@import "src/defaults";

.root {
  padding: 32px;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: min-content 400px;
  grid-template-columns: 400px 1fr;
  grid-template-areas:
    "resolution charts"
    "signals    charts";

  .resolution {
    grid-area: resolution;
  }

  .signals {
    grid-area: signals;
  }

  .charts {
    grid-area: charts;
  }
}
